In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

print(np.__version__)
print(pd.__version__)
print(sns.__version__)

1.26.3
2.1.4
0.13.1

#### pandas의 데이터구조
- Series: 1차원 데이터, 컬럼이 1개
- DataFrame: 다차원 데이터, 컬럼이 여러개

In [12]:
s1 = pd.Series([10, 20, 30, 40, 50]) 
s1 #dtype: int64

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [10]:
print(s1.index) #인덱스
print(s1.values) #결과값 - numpy의 그 모습과 같음

RangeIndex(start=0, stop=5, step=1)
[10 20 30 40 50]

In [13]:
s2 = pd.Series(["에스프레소", "아메리카노", "카레라떼", 1, 2, 3])
s2 #dtype: object

0    에스프레소
1    아메리카노
2     카레라떼
3        1
4        2
5        3
dtype: object

In [15]:
#데이터를 위한 자리(index)는 있지만 데이터는 없음 NaN(결측치)를 통해서 표현할 수 있다.
s3 = pd.Series([np.nan, 10, 30])
s3 #dtype: float64

0     NaN
1    10.0
2    30.0
dtype: float64

In [18]:
#index를 0, 1, 2, ... 이 아니라 다른 걸로도 표현이 가능하다

index_data = ["1번", "2번"]
s4 = pd.Series([200, 250], index = index_data)
s4

1번    200
2번    250
dtype: int64

In [20]:
#딕셔너리를 이용한 Series 데이터 형성

dataDict = {
    "국어" : 100,
    "영어" : 75
}
s5 = pd.Series(dataDict)
s5

국어    100
영어     75
dtype: int64

In [26]:
#날짜 데이터 입력
from datetime import datetime
pd.date_range(start = "1996/01/01", end = datetime.today()) #디폴트는 1일

DatetimeIndex(['1996-01-01', '1996-01-02', '1996-01-03', '1996-01-04',
               '1996-01-05', '1996-01-06', '1996-01-07', '1996-01-08',
               '1996-01-09', '1996-01-10',
               ...
               '2023-12-29', '2023-12-30', '2023-12-31', '2024-01-01',
               '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05',
               '2024-01-06', '2024-01-07'],
              dtype='datetime64[ns]', length=10234, freq='D')

In [33]:
pd.date_range(start = "1996/02/13", periods = 7, freq = "2W")
#periods: 몇개를 가져올 것인지
#freq: 주기. 여기서는 2주

DatetimeIndex(['1996-02-18', '1996-03-03', '1996-03-17', '1996-03-31',
               '1996-04-14', '1996-04-28', '1996-05-12'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [34]:
pd.date_range(start = "1996/02/13", periods = 3, freq = "H")
#H 하면 시간 주기로 가져옴

DatetimeIndex(['1996-02-13 00:00:00', '1996-02-13 01:00:00',
               '1996-02-13 02:00:00'],
              dtype='datetime64[ns]', freq='H')

#### 데이터프레임을 이용한 데이터 생성

In [41]:
#씨본에서 데이터세트 가져오기

sns.get_dataset_names() #씨본에서 가져올 수 있는 데이터세트 이름들. 데이터를 가져오는 건 아님

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [42]:
#샘플 데이터 호출하기
iris = sns.load_dataset('iris')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [43]:
iris.head() #인덱스 0부터 지정된 수만큼 행을 가져옴. 디폴트는 5개

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [45]:
iris.tail(3) #head가 있으면 tail도 있다.

     sepal_length  sepal_width  petal_length  petal_width    species
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica