In [4]:
import numpy as np
import pandas as pd
import seaborn as sns

print(np.__version__)
print(pd.__version__)
print(sns.__version__)

1.26.3
2.1.4
0.13.1

#### pandas의 데이터구조
- Series: 1차원 데이터, 컬럼이 1개
- DataFrame: 다차원 데이터, 컬럼이 여러개

In [5]:
s1 = pd.Series([10, 20, 30, 40, 50]) 
s1 #dtype: int64

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [6]:
print(s1.index) #인덱스
print(s1.values) #결과값 - numpy의 그 모습과 같음

RangeIndex(start=0, stop=5, step=1)
[10 20 30 40 50]

In [7]:
s2 = pd.Series(["에스프레소", "아메리카노", "카레라떼", 1, 2, 3])
s2 #dtype: object

0    에스프레소
1    아메리카노
2     카레라떼
3        1
4        2
5        3
dtype: object

In [8]:
#데이터를 위한 자리(index)는 있지만 데이터는 없음 NaN(결측치)를 통해서 표현할 수 있다.
s3 = pd.Series([np.nan, 10, 30])
s3 #dtype: float64

0     NaN
1    10.0
2    30.0
dtype: float64

In [9]:
#index를 0, 1, 2, ... 이 아니라 다른 걸로도 표현이 가능하다

index_data = ["1번", "2번"]
s4 = pd.Series([200, 250], index = index_data)
s4

1번    200
2번    250
dtype: int64

In [10]:
#딕셔너리를 이용한 Series 데이터 형성

dataDict = {
    "국어" : 100,
    "영어" : 75
}
s5 = pd.Series(dataDict)
s5

국어    100
영어     75
dtype: int64

In [11]:
#날짜 데이터 입력
from datetime import datetime
pd.date_range(start = "1996/01/01", end = datetime.today()) #디폴트는 1일

DatetimeIndex(['1996-01-01', '1996-01-02', '1996-01-03', '1996-01-04',
               '1996-01-05', '1996-01-06', '1996-01-07', '1996-01-08',
               '1996-01-09', '1996-01-10',
               ...
               '2024-01-03', '2024-01-04', '2024-01-05', '2024-01-06',
               '2024-01-07', '2024-01-08', '2024-01-09', '2024-01-10',
               '2024-01-11', '2024-01-12'],
              dtype='datetime64[ns]', length=10239, freq='D')

In [12]:
pd.date_range(start = "1996/02/13", periods = 7, freq = "2W")
#periods: 몇개를 가져올 것인지
#freq: 주기. 여기서는 2주

DatetimeIndex(['1996-02-18', '1996-03-03', '1996-03-17', '1996-03-31',
               '1996-04-14', '1996-04-28', '1996-05-12'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [13]:
pd.date_range(start = "1996/02/13", periods = 3, freq = "H")
#H 하면 시간 주기로 가져옴

DatetimeIndex(['1996-02-13 00:00:00', '1996-02-13 01:00:00',
               '1996-02-13 02:00:00'],
              dtype='datetime64[ns]', freq='H')